<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en">
  <head>
    <link
      rel="preload"
      as="image"
      href="https://raw.githubusercontent.com/truonggiangit793/gmail-signature-materials/refs/heads/main/src/assets/png/logo.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://raw.githubusercontent.com/truonggiangit793/gmail-signature-materials/refs/heads/main/src/assets/png/regards.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://raw.githubusercontent.com/truonggiangit793/gmail-signature-materials/refs/heads/main/src/assets/png/name.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://raw.githubusercontent.com/truonggiangit793/gmail-signature-materials/refs/heads/main/src/assets/png/job-title.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://raw.githubusercontent.com/truonggiangit793/gmail-signature-materials/refs/heads/main/src/assets/png/facebook.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://raw.githubusercontent.com/truonggiangit793/gmail-signature-materials/refs/heads/main/src/assets/png/instagram.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://raw.githubusercontent.com/truonggiangit793/gmail-signature-materials/refs/heads/main/src/assets/png/linkedin.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://raw.githubusercontent.com/truonggiangit793/gmail-signature-materials/refs/heads/main/src/assets/png/github.png"
    />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <table
      align="center"
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="
        background-color: rgb(248, 250, 250);
        border-radius: 0.25rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      "
    >
      <tbody>
        <tr>
          <td>
            <table
              align="center"
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
              style="margin-bottom: 1rem; max-width: 50em"
            >
              <tbody>
                <tr style="width: 100%">
                  <td>
                    <img
                      height="45"
                      src="https://raw.githubusercontent.com/truonggiangit793/gmail-signature-materials/refs/heads/main/src/assets/png/logo.png"
                      style="display: block; outline: none; border: none; text-decoration: none"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              align="center"
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
              style="
                background-color: rgb(255, 255, 255);
                border-radius: 0.25rem;
                overflow: hidden;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                max-width: 50em;
                border: 1px solid #eee;
              "
            >
              <tbody>
                <tr style="width: 100%">
                  <td>
                    <table
                      align="center"
                      width="100%"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      role="presentation"
                      style="padding-top: 1.5rem; padding-bottom: 0.75rem"
                    >
                      <tbody>
                        <tr>
                          <td>
                            <p
                              style="
                                margin: 0px;
                                margin-bottom: 0.5rem;
                                font-size: 1.125rem;
                                line-height: 1.75rem;
                                font-weight: 700;
                              "
                            >
                              Dear REPLACE,
                            </p>
                            <p style="margin: 0px; font-size: 1.125rem; line-height: 1.75rem">
                              Replace your content here...
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <img
                      height="38"
                      src="https://raw.githubusercontent.com/truonggiangit793/gmail-signature-materials/refs/heads/main/src/assets/png/regards.png"
                      style="
                        margin-bottom: 1.5rem;
                        display: block;
                        outline: none;
                        border: none;
                        text-decoration: none;
                      "
                    />
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              align="center"
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
              style="max-width: 50em"
            >
              <tbody>
                <tr style="width: 100%">
                  <td>
                    <table
                      align="center"
                      width="100%"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      role="presentation"
                      style="margin-top: 0.75rem"
                    >
                      <tbody style="width: 100%">
                        <tr style="width: 100%">
                          <td data-id="__react-email-column" style="padding-right: 0.75rem">
                            <img
                              height="90"
                              src="https://raw.githubusercontent.com/truonggiangit793/gmail-signature-materials/refs/heads/main/src/assets/png/logo.png"
                              style="
                                display: block;
                                outline: none;
                                border: none;
                                text-decoration: none;
                              "
                            />
                          </td>
                          <td data-id="__react-email-column" style="width: 100%">
                            <img
                              height="30"
                              src="https://raw.githubusercontent.com/truonggiangit793/gmail-signature-materials/refs/heads/main/src/assets/png/name.png"
                              style="
                                display: block;
                                outline: none;
                                border: none;
                                text-decoration: none;
                              "
                            /><img
                              height="20"
                              src="https://raw.githubusercontent.com/truonggiangit793/gmail-signature-materials/refs/heads/main/src/assets/png/job-title.png"
                              style="
                                display: block;
                                outline: none;
                                border: none;
                                text-decoration: none;
                              "
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <p style="margin: 0px; font-size: 14px; line-height: 24px">
                      Contact:
                      <a
                        href="tel:+84702907154"
                        style="color: #067df7; text-decoration: none"
                        target="_blank"
                        >+84702907154</a
                      >
                    </p>
                    <p style="margin: 0px; font-size: 14px; line-height: 24px">
                      Primary email:
                      <a
                        href="mailto:truonggiangit793@gmail.com"
                        style="color: #067df7; text-decoration: none"
                        target="_blank"
                        >truonggiangit793@gmail.com</a
                      >
                    </p>
                    <p style="margin: 0px; font-size: 14px; line-height: 24px">
                      Address:
                      <a
                        href="https://www.google.com/maps/place/Ho+Chi+Minh+City"
                        style="color: #067df7; text-decoration: none"
                        target="_blank"
                        >Ho Chi Minh City, Viet Nam</a
                      >
                    </p>
                    <table
                      align="center"
                      width="100%"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      role="presentation"
                      style="margin-top: 0.75rem; margin-bottom: 1rem"
                    >
                      <tbody style="width: 100%">
                        <tr style="width: 100%">
                          <td data-id="__react-email-column" style="padding-right: 0.25rem">
                            <a
                              href="https://www.facebook.com/truonggiangit793"
                              style="color: #067df7; text-decoration: none"
                              target="_blank"
                              ><img
                                height="25"
                                src="https://raw.githubusercontent.com/truonggiangit793/gmail-signature-materials/refs/heads/main/src/assets/png/facebook.png"
                                style="
                                  display: block;
                                  outline: none;
                                  border: none;
                                  text-decoration: none;
                                "
                            /></a>
                          </td>
                          <td data-id="__react-email-column" style="padding-right: 0.25rem">
                            <a
                              href="https://www.instagram.com/truonggiangit793"
                              style="color: #067df7; text-decoration: none"
                              target="_blank"
                              ><img
                                height="25"
                                src="https://raw.githubusercontent.com/truonggiangit793/gmail-signature-materials/refs/heads/main/src/assets/png/instagram.png"
                                style="
                                  display: block;
                                  outline: none;
                                  border: none;
                                  text-decoration: none;
                                "
                            /></a>
                          </td>
                          <td data-id="__react-email-column" style="padding-right: 0.25rem">
                            <a
                              href="https://linkedin.com/in/truonggiangit793"
                              style="color: #067df7; text-decoration: none"
                              target="_blank"
                              ><img
                                height="25"
                                src="https://raw.githubusercontent.com/truonggiangit793/gmail-signature-materials/refs/heads/main/src/assets/png/linkedin.png"
                                style="
                                  display: block;
                                  outline: none;
                                  border: none;
                                  text-decoration: none;
                                "
                            /></a>
                          </td>
                          <td
                            data-id="__react-email-column"
                            style="padding-right: 0.25rem; width: 100%"
                          >
                            <a
                              href="https://github.com/truonggiangit793"
                              style="color: #067df7; text-decoration: none"
                              target="_blank"
                              ><img
                                height="25"
                                src="https://raw.githubusercontent.com/truonggiangit793/gmail-signature-materials/refs/heads/main/src/assets/png/github.png"
                                style="
                                  display: block;
                                  outline: none;
                                  border: none;
                                  text-decoration: none;
                                "
                            /></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
